{
  "extends": ["airbnb-base", "plugin:vue/recommended"],
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "no-underscore-dangle": 0,
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "arrow-body-style": ["error", "as-needed", { "requireReturnForObjectLiteral": true }],
    "vue/attribute-hyphenation": [2, "never", { "ignore": ["custom-prop"] }]
  }
}