@import './variables';

body {
  background: $white;
}

.band {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__section {
    padding: 2rem 0;
  }
}

.button-wrapper {
  display: flex;
  justify-content: space-around;
}

.card {
  background-color: $white;
}