@import './variables';

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background: $white;
}

.display-b {
  display: block;
}

.display-ib {
  display: inline-block;
}

.display-i {
  display: inline;
}

.flex {
  display: flex;
}

.flex-acenter {
  align-items: center;
}

.band {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__section {
    padding: 2rem 0;
  }
}

.button-wrapper {
  display: flex;
  justify-content: space-around;
}

.card {
  background-color: $white;
}

.divider {
  background: $disabled;
}

hr.theme--dark {
  background: $root-text;
}